@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: CoreSansGBold;
  src: url(../_assets/fonts/CoreSansG-Bold.ttf)
}

@font-face {
  font-family: CoreSansM35;
  src: url(../_assets/fonts/CoreSansM35-webfont.ttf)
}

@font-face {
  font-family: CoreSansM65;
  src: url(../_assets/fonts/CoreSansM65-webfont.ttf)
}

@font-face {
  font-family: Monaco;
  src: url(../_assets/fonts/Monaco.ttf)
}

@font-face {
  font-family: PTSans;
  src: url(../_assets/fonts/PTS-webfont.ttf)
}

html {
  --font-title: CoreSansGBold, sans-serif;
  --font-regular: PTSans, sans-serif;
  --font-menu: CoreSansM35;
  --font-menu-bold: CoreSansM65;
  --font-console: Monaco, serif; 
  --blue: #1098F7;
  --blue-light: #E9F2F8;
  --blue-dark: #2B4162;
  width: 100%;
}

body {
  font-family: var(--font-regular);
  width: 100vw;
  overflow-x: hidden;
  background: black;
}

h1, h2, h3, h4, h5 {
  font-family: var(--font-title);
}

code {
  font-family: var(--font-console);
}

.font-title {
  font-family: var(--font-title);
}

.font-regular {
  font-family: var(--font-regular);
}

.font-menu {
  font-family: var(--font-menu);
}

.font-menu-bold {
  font-family: var(--font-menu-bold);
}

.font-console {
  font-family: var(--font-console);
}
